.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: all;
}

.App-logo:hover {
  filter: invert(0.2) sepia(1) saturate(10) hue-rotate(300deg) brightness(0.75);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
